<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shayanmoradi.arioclub">

    <application
        android:name=".database.App"
        android:allowBackup="true"
        android:icon="@drawable/dental"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.Login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SingleFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.docside.mainpage.MainPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.patient.patientmainpage.PatientMainPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.docside.searchpaient.SearchPaientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.docside.factor.CreateFactorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>